@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.chat-bar-collapsible.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
  }
.chat-bar-collapsible {
    position: fixed;
    bottom: 0;
    right: 70px;
    /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); */
}

.collapsible {
    background-color: #163519;
    color: white;
    cursor: pointer;
    padding: 18px;
    /* width: 350px; */
    text-align: left;
    outline: none;
    font-size: 18px;
    border-radius:50%;
    /* border: 3px solid white; */
    margin-bottom: 2vh;
    border-bottom: none;
    float: right;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.full-chat-block {
    width: 350px;
    background: #daf3cd;
    text-align: center;
    overflow: auto;
    scrollbar-width: none;
    height: max-content;
    transition: max-height 0.2s ease-out;
}


.outer-container {
    min-height: 500px;
    bottom: 0%;
    position: relative;
}
/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
*/
.container {
    width: 370px;
    overflow:hidden;
    border-color: #000000;
}

.container .title {
  
    color: black;
    line-height: 2.5;
    border-radius: 5px 5px 0 0;
    text-align: center;
    font-size: 20px;
}

.container .box {
    border: 1px solid black;
   
    padding: 10px 15px;
    min-height: 400px;
    max-height: 400px;
}

.container .box .item {
    display: flex;
    float: left;
    margin: 10px 0;
}

.container .box .item .icon {
    background: #000000;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.container .box .item .msg {
    background: white;
    color: black;
    border-radius: 10px;
    width: 150px;
    margin-left: 10px;
}

.container .box .item .msg p {
    padding: 10px;
}

.container .box .item.right {
    float: right;
}

.container .box .item.right .msg {
    background: white;
    color: black;
}

.container .typing-area {
    width: 370px;
    background: #efefef;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container .typing-area .input-field {
    width: 100%;
    position: relative;
}

.container .typing-area .input-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
    padding-right: 70px;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s all ease;
}

.container .typing-area .input-field input:focus {
    border-color: #000000;
}

.container .typing-area .input-field button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: transparent;
    border: 1px solid #000000;
    padding: 5px 10px;
    border-radius: 3px;
    color: #000000;
    outline: none;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s all ease;
}

.container .typing-area .input-field button:hover {
    background: #000000;
    color: white;
}

.container .typing-area .input-field input:valid ~ button {
    opacity: 1;
    pointer-events: auto;
}
/*
@keyframes floatup {
    from {
        transform: translateY(14px);
        opacity: .0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
*/
@media screen and (max-width:600px) {
    .full-chat-block {
        width: 100%;
        border-radius: 0px;
    }
    .chat-bar-collapsible { 
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
    }
    .collapsible {
        width: 100%;
        border: 0px;
        border-top: 3px solid white;
        border-radius: 0px;
    }
}