
footer{
    padding: 6rem 0;
    user-select: none;
}


.footer-container{
    max-width: 100rem;
    /* display: flex; */
}
.f-about img{
    width: 50%;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

footer h3 {
    color: white;
    font-size: 2rem;
    margin-bottom:2rem;
}

footer{ 
    background-color: var(--element);
}

.f-links ul,
.f-services ul,
.f-support ul{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  list-style: none;
}

.f-links li,
.f-links a,
.f-services li,
.f-services a ,
.f-support li,
.f-support a {
  font-size: 1.5rem;
  color: white;
  text-transform: capitalize;
  text-decoration: none;
}

.f-credits p {
    position: relative;
    top: 1rem;
    font-size: 2rem;
    text-align: center;
    color: #adadad;
  }
  
  .credit-container{
    position: relative;
    top: 4rem;
  }
  
  footer a:hover {
    color: aliceblue;
  }

.credit-container .f-credits hr{
    border: 2px solid rgb(255, 255, 255);
    width: 100%;
    height: 1px;
    background-color: white;
}