@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;800&display=swap');

:root{
    --element: #035C41;
    --background: #FFF7EC;
    user-select: none;
}


a{
    text-decoration: none;
    color: var(--element);
}

li{
    list-style: none;
    
}


.main-nav{
    width: 100%;
    height: 6rem;
    background-color: var(--background);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.logo img{
    height: 6rem;
}

.menu-link{
    grid-column: 2/3;
}


.menu-link ul{
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.menu-link ul li a{
    text-transform: captialize;
    font-size: 1.2rem;
}

.login-signup ul{
    grid-column: 3/4;
    height: 6rem;
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr) 1rem;
    align-items: center;
}

.login-signup ul li:first-child {
    grid-column: 2/3;
}

.login-signup ul li a{
    border-radius: 10px;
    color: rgb(252, 252, 252);
    padding: 6px 30px;
    background-color: var(--element);
    border: 1px rgb(2, 70, 10) solid;
    font-size: 1.2rem;
}

.login-signup ul .primary a{
    margin-right: 10px;
}

.login-signup ul .secondary a{
    background:transparent;
    color:#035C41;
}

.hr-style{
    width: 80%;
    margin: auto;
    color: 1px solid var(--element);
}