:root{
    --element: #035C41;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.main-home{
    background-color: var(--background);
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr  1fr;
}

.main-home .text-container {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-home .text-container h1{
    width: 500px;
    font-size: 66px;
    font-weight: 700;
    color: var(--element);
}

.main-home .text-container p{
    width: 500px;
    position: relative;
    /* left: 40px; */
    font-size: 30px;
    font-weight: 500;
    color:var(--element);
}


.ellipse {
    position: relative;
    background: var(--element);
    width: 600px;
    height: 680px;
    border-radius: 90% 0 0 100% / 50%;
  }


.square{
    position: relative;
    float: right;
    top: 170px;
    right: 300px;
    height: 180px;
    width: 190px;
    background-color:#A77D53;

    /* Text */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    color: white;
}

.square2{
    position: relative;
    float: right;
    top: 300px;
    right: 30px;
    left: 10px;
    height: 180px;
    width: 190px;
    background-color: #644424;

    /* Text */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    color: white;
}

.home-button{
    top: 100px;
    position: relative;
    display: flex;
    justify-content: center;
}

.home-button .button1{
    position: relative;
    width: 20px;
    right: 230px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}

.home-button .button1 a{
    padding: 8px 15px;
    text-decoration: none;
    color: white;
    background-color: var(--element);
    border-radius: 4px;
}

.home-button .button2{
    position: relative;
    width: 20px;
    right: 100px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}

.home-button .button2 a{
    padding: 8px 15px;
    text-decoration: none;
    color: var(--element);
    border: 3px solid var(--element);
    border-radius: 4px;
}

#plant-button{
    padding: 8px 15px;
    text-decoration: none;
    color: white;
    background-color: var(--element);
    border-radius: 4px;
    cursor: pointer;
    border: solid var(--element);
    height: 50px;
}



/* footer */

footer{
    padding: 9rem 0;
}


.footer-container{
    max-width: 140rem;
    margin: 0 auto;
    /* display: flex; */
}
.f-about img{
    width: 50%;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

footer h3 {
    color: var(--third);
    font-size: 2rem;
    margin-bottom: 5rem;
}

footer{
    background-color: var(--element);
}

.f-links ul,
.f-services ul,
.f-support ul{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  list-style: none;
}

.f-links li,
.f-links a,
.f-services li,
.f-services a ,
.f-support li,
.f-support a {
  font-size: 2rem;
  color: #adadad;
  text-transform: capitalize;
}

.f-credits p {
    font-size: 2rem;
    text-align: center;
    color: #adadad;
  }
  
  .credit-container{
    position: relative;
    top: 5rem;
  }
  
  footer a:hover {
    color: var(--third);
  }

.credit-container .f-credits hr{
    border: 2px solid rgb(255, 255, 255);
    width: 100%;
    height: 1px;
    background-color: white;
}