@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --element: #035C41;
    --background: #FFF7EC;
    user-select: none;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Raleway', sans-serif;
    /* font-size: 62.5%; */
    user-select: none;
}
.main-home{
    background-color: var(--background);
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.main-home .text-container {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top:10rem;
}

.main-home .text-container h1{
    width: auto;
    font-size: 5rem;
    font-weight: 700;
    color: var(--element);
    position: relative;
    right: 17px;
}

.main-home .text-container p{
    width: 520px;
    position: relative;
    /* left: 40px; */
    font-size: 2rem;
    font-weight: 500;
    color:var(--element);
}


.ellipse {
    position: relative;
    background: var(--element);
    width: 600px;
    height: 680px;
    border-radius: 90% 0 0 100% / 50%;
  }


.square{
    position: relative;
    float: right;
    top: 170px;
    right: 300px;
    height: 180px;
    width: 190px;
    background-color:#A77D53;

    /* Text */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    color: white;
}

.square2{
    position: relative;
    float: right;
    top: 300px;
    right: 30px;
    left: 10px;
    height: 180px;
    width: 190px;
    background-color: #644424;

    /* Text */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    color: white;
}

.home-button{
    top: 100px;
    position: relative;
    display: flex;
    justify-content: center;
}

.home-button .button1{
    position: relative;
    width: 220px;
    right: 150px;
    height: 50px;
    font-size: 1.5rem;
    cursor: pointer;
}

.home-button .button1 a{
    padding: 8px 15px;
    padding-right: 4rem;
    text-decoration: none;
    color: var(--element);
    /* background-color: var(--element);
     */
    border: 4px solid var(--element);
    border-radius: 10px;
    width: 150px;
    font-size: 1rem;
}

.side-img{      
    width:  100vh;
    height: 100vh;
}
.home-button .button2 a{
    padding: 8px 15px;
    text-decoration: none;
    color: var(--element);
    border: 3px solid var(--element);
    border-radius: 4px;
    width: 150px;
}
/* 
#plant-button{
    padding: 8px 15px;
    text-decoration: none;
    color: white;
    background-color: var(--element);
    border-radius: 4px;
    cursor: pointer;
    border: solid var(--element);
    height: 50px;
} */

@media screen and (max-width:896px) {
    .main-home{
        height: 80vh;
        display: flex;
        flex-direction: column;
    }

    .text-container{
        display: block;
        position: relative;
        top: 50px;
    }

    .text-container h1{
        right: 0px !important;
        text-align: center;
        font-size: 2.5rem !important;
    }

    .text-container p{
        text-align: center;
        font-size: 1.8rem !important;
    }

    .home-button{
        top:40px;
    }

    .home-button .button1{
        position: relative;
        right: 0px;
        text-align: center;
    }

    .side-img{
        position: relative;
        top: 100px;
        height: 400px;
        width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #plant-button{
        position: relative;
        bottom:70px;
    }

    
}