html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: rgba(156, 227, 236, 0.527);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
  background: rgba(121, 240, 248, 0.788);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
  background: rgb(36, 177, 219);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:active {
  background: rgb(20, 103, 182);
  border-radius: 10px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
body{
  margin: 0;
  padding: 0;
  background-image: url("../Images/Green.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  background: white;
  border-radius: 10px;
}
.center h1{
  text-align: center;
  padding: 20px 0;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;

}
.txt_field label, .txt_field p{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  transition: .5s;
}

.txt_field select{
 
  font-size: 16px;
}

.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  height: 2px;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -9px;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}

.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
  transition: all .5s;
  float: inline-end;
}
.pass:hover{
  color: #66BFBF;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #45a8cc;
  border-radius: 25px;
  font-size: 18px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  
}
input[type="submit"]:hover{
  border: none;
  transition: .5s;
  background-color: #75e0e0;
  color: black;
}
.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a{
  color: #2691d9;
  text-decoration: none;
  transition: all .5s;
}
.signup_link a:hover{
  color:rgba(121, 240, 248, 0.788);
}

.other{
  font-size: 18px;
  color: #666666;
  text-align: center;
}

.LogBtn{
  width: 45%;
  height:8vh;
  margin:1%;
  margin-right: 1%;
  border-radius: 10px;
  opacity: 0.9;
  display: inline;
  border:none;
  transition: all 0.3s ease 0s;
}
.LogBtnimg{
  height:5vh;
  opacity: 0.75;
}
.LogBtn:hover{
  opacity: 1;
}

* {
  outline: 0;
  font-family: sans-serif
}
body {
  background-color: #fafafa
}
span.msg,
span.choose {
  color: #555;
  padding: 5px 0 10px;
  display: inherit
}
.container {
  width: 500px;
  margin: 50px auto 0;
  text-align: center
}

