::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f4ffe1;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background-color: #058760;
    border-radius: 200px;
}
:root{
    --element: #035C41;
    --background: #FFF7EC;
    user-select: none;
}

.login-container{
    padding-left: 100px;
}
.signUp{
    width: 100%;
    height: 100vh;
    background-color: var(--background);
}
.signup-details{
    background-color: #FFF7EC;
    margin-top: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr  2fr;
}

.left-box{
    
    background-color: #035C41;
    width: 560px;
    height: 100vh;
    align-items: left;
}
.logo{
    margin-left: 160px;
    margin-top: 100px;
}

label{
    color: #035C41;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.login-button{
    
    text-decoration: none;
    background-color: #885A39;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 100px 10px;
    width: 300px;
}

.login-button:hover{
    color: white;
}
.submit-button{
    text-decoration: none;
    background-color: #035C41;
    color: white;
    border: none;
    margin-top: 2rem;
    border-radius: 10px;
    padding: 10px 100px 10px;
    width: 300px;
}
.input{
    background-color:#DBD0BE;
    border-bottom-color: #885A39;
    border-bottom-width: 2px;
}

.form-group{
    margin-top: 1rem;
    margin-bottom: 1rem;
}