:root{
    --map-background: #DBD0BE;
    user-select: none;
}


.map-main{
    height: 120vh;
    background-color: var(--map-background);
}


.main-container-map{
    position: relative;
    top: 30vh;
    display: grid;
    grid-template-rows: 150px 1px;
}

.map-text-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.map-text-container h1{
    font-weight: 800;
    font-size: 50px;
    color: black;
}


.map-text-container p{
    width: 500px;
    font-size: 1.5rem;
    font-weight: 500;
    color:black;
    text-align: center;
}

.map-container{
    display: flex;
    top: 400px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.map-image{
    width:850px;
    height:600px;
}

@media screen and (max-width:896px){
    .map-main{
        height: 60vh;
    }


    .main-container-map{
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 10vh;
    }

    .map-text-container h1{
        font-size: 1.8rem;
    }

    .map-text-container p{
        width: 340px;
    }

    .map-container{
        top: 50px;

    }
    
    .map-image{
        width: 350px;
        height: 380px;
    }


}