:root{
    --element: #035C41;
    --background: #FFF7EC;
    user-select: none;
}

.others{
    height: 300vh;
    background-color: var(--background);
}

.database-fig{
    position: relative;
    top: 370px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.database-fig-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
 .database-fig-left h1{
    position: relative;
    line-height: -2px;
    font-size: 3rem;
} 

.database-fig-left p{
    position: relative;
    left: 60px;
    width: 400px;
    font-size: 1.5rem;
}



.others-square{
    position: relative;
    left: 150px;
    height: 350px;
    width: 350px;
    background-color:var(--element);
}

.weather-square{
    position: relative;
    left: 300px;
    height: 350px;
    width: 350px;
    background-color:var(--element);
}



.weather-fig{
    position: relative;
    top: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.weather-fig-left {
    position: relative;
    right: 50px;
}

.weather-fig-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather-fig-right h1{
    line-height: -2px;
    font-size: 3rem;
    text-align: end;
}

.weather-fig-right p{
    position: relative;
    width: 400px;
    /* left: -30px;     */
    font-size: 1.5rem;
    text-align: end;
}

.govt-fig{
    position: relative;
    top: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.govt-fig-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.govt-fig-left h1,.weather-fig-right h1,.database-fig-left h1{
    line-height: -2px;
    font-size: 3rem;
}

.govt-fig-left p{
    position: relative;
    left: 50px;
    width: 400px;
    font-size: 1.5rem;
}

hr{
    border-color: #035C41; 
}

@media screen and (max-width:896px) {
   
    .database-fig{
       display: flex;
       flex-direction: column;
       top:350px;
    }

    .database-fig-left h1{
        font-size: 2rem;
        white-space: nowrap;
    }

    .database-fig-left p{
        width: 300px;
        left: 0px;
    }

    .others-square{
        left: 0px;
    }

    .database-fig-right img{

        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        height: 300px;
        top: 30px;
    }

    .weather-fig{
        display: flex;
        flex-direction: column-reverse;
        top: 500px;

    }

    .weather-fig-right h1{
        font-size: 2rem;
        white-space: nowrap;
        text-align: center;
    }

    .weather-fig-right p{
        text-align: center;
        width: 340px;
    }

    .weather-fig-left img{
        top: 30px;
        left: 0px;
        display: block;
        margin-left: auto;
        /* margin-right: auto; */
        width: 300px;
        height: 300px;
    }

    .govt-fig{
        display: flex;
        flex-direction: column;
        top: 650px;
    }

    .govt-fig-left h1{
        font-size: 2rem;
        white-space: nowrap;
        text-align: center;
    }

    .govt-fig-left p{
        left: 0px;
        width: 300px;
        text-align: center;

    }

    .govt-fig-right img{
        top: 30px;
        left: 0px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        height: 300px;
    }
}