:root{
    --element: #035C41;
    --background: #FFF7EC;
}

.others{
    height: 280vh;
    background-color: var(--background);
}

.database-fig{
    position: relative;
    top: 370px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.database-fig-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
/* .database-fig-left h1{
    line-height: -2px;
    font-size: 3rem;
} */

.database-fig-left p{
    position: relative;
    left: 50px;
    width: 400px;
    font-size: 1.5rem;
}



.others-square{
    position: relative;
    left: 150px;
    height: 350px;
    width: 350px;
    background-color:var(--element);
}

.weather-square{
    position: relative;
    left: 300px;
    height: 350px;
    width: 350px;
    background-color:var(--element);
}



.weather-fig{
    position: relative;
    top: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.weather-fig-left {
    position: relative;
    right: 50px;
}

.weather-fig-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather-fig-right h1{
    line-height: -2px;
    font-size: 3rem;
    text-align: end;
}

.weather-fig-right p{
    position: relative;
    width: 400px;
    /* left: -30px;     */
    font-size: 1.5rem;
    text-align: end;
}

.govt-fig{
    position: relative;
    top: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.govt-fig-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.govt-fig-left h1,.weather-fig-right h1,.database-fig-left h1{
    line-height: -2px;
    font-size: 3rem;
}

.govt-fig-left p{
    position: relative;
    left: 50px;
    width: 400px;
    font-size: 1.5rem;
}

