:root{
    --element: #035C41;
    --background: #FFF7EC;
    user-select: none;
}

.plant-container{
    background:var(--background);
}


#plant-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    position: relative;
    left: 2rem;
}

#plant-left p{
    margin-top: 1em;
    margin-left: 6em;
    width: 400px;
    font-size: 2rem;
}


.image-upload form{
    position: relative;
    left: 10rem;
    height: 31rem;
    width: 25rem;
    background: url(../images/plant-background.png);
    border-radius: 20px;
}
/* 
.upload-box{
    position: relative;
    top: -28em;
    left: 16em;
    color: black;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    border: solid white;
    height: 400px;
    width: 300px;
    padding-left: 60px;
    padding-top: 60px;
} */

/*#upload-button2{
    position: relative;
    padding: 8px 15px;
    top:-12em;
    color: white;
    background-color: #644424;
    border-radius: 10px;
    cursor: pointer;
    border: solid #644424;
    height: 60px;
}*/


.lbq i{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 40px;
}


.upload-button{
    position: relative;
    top : 5rem;
    left: 10rem;
    color: black;
    text-decoration: none;
    color: white;
    padding: 7px 20px;
    background-color: #644424;
    border: 0px;
    border-radius: 10px;
}
.upload-button:hover{
    color: white;
    background-color: #644424;
}

.upload-box{
    position: relative;
    left: 3rem;
    color: black;
    background-color: white;
    border-radius: 20px;
    border: solid white;
    height: 400px;
    width: 300px;
    text-align: center;
    padding-top: 50%;
    cursor: pointer;
}

.plant-ul{
    position: relative;
    left: 5rem; 
}


.plant-ul li{
    font-size: 1.2rem;
    list-style-type: circle ;
}



/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    #plant-left {
       align-items: center;
    }
 }

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {  }

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {  }

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1252.98px) { 
    .container-fluid{
        height: 100vh;
    }
    #plant-left {
        position: relative;
        top:100px; 
        /* background-color: #035C41; */
    }

    #plant-left h1{
        font-size: 1.5rem;
    }
    #plant-left p{
        font-size: 1rem;
    }

    .plant-right{
        position: relative;
        top:100px;
        /* background-color: #035C41; */
    }

    .image-upload form{
        position: relative;
        height: 25rem;
        width: 20rem;
        left: 15rem;    
    }

    .upload-box{
        height: 300px;
        width: 220px;
    }
    .upload-button{
        left: 7.5rem;
    }
 }

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
   
    #plant-left {
        /* background-color: #035C41; */
        position: relative;
        left: 100px;
        font-size: 20px;
    }

    .plant-right{
        position: relative;
        right:100px;
        font-size: 20px;
    }
}

