:root{
    --element: #035C41;
    --background: #FFF7EC;
    user-select: none;
}

.main-container-plant{
    position: relative;
    background-color: var(--background);
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.right-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-container h2{
    position: relative;
    bottom: 100px;
    font-size: 3rem;
    font-weight: 700;
    color: var(--element);
    text-align: center;
}

.right-container p{
    position: relative;
    font-size: 2rem;
    font-weight: 500;
    width: 400px;   
    color: var(--element);
    bottom: 90px;
    text-align: start;
}


.square-plant{
    position: relative;
    top: 50px;
    left: 270px;
    height: 500px;
    width: 300px;
}

/* .button-plant a{
    position: relative;
    top: 30px;
    padding: 10px 20px;
    
    color: black;
    border: 3px solid var(--element);
    border-radius: 4px;
} */

#plant-button{

    padding: 15px 25px;
    text-decoration: none;
    color: var(--element);
    /* background-color: var(--element); */
    border: 3px solid var(--element);
    border-radius: 4px;
    cursor: pointer;
    border: solid var(--element);
    height: 50px;
}


@media screen and (max-width:896px) {
    .main-container-plant{
        height: 350px;
    } 

    .right-container{
        position: relative;
        top: 150px;
        
        justify-content: flex-start;
    }

    .square-plant{
        display: none;
    }

    footer{
        position: relative;
        top: 250;
      }
    
      .f-about img{
        position: relative;
        left: 30px;
      }
    
      .footer-container{
        grid-template-columns: repeat(2,1fr);
      }
}