:root{
    --element: #035C41;
    --background: #FFF7EC;
    user-select: none;
}

.plant-container{
    background:var(--background);
}


#plant-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    position: relative;
    left: 2rem;
}

#plant-left p{
    margin-top: 1em;
    margin-left: 6em;
    width: 400px;
    font-size: 2rem;
}


.image-upload form{
    position: relative;
    left: 10rem;
    height: 31rem;
    width: 25rem;
    background: url(../images/plant-background.png);
    border-radius: 20px;
}
/* 
.upload-box{
    position: relative;
    top: -28em;
    left: 16em;
    color: black;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    border: solid white;
    height: 400px;
    width: 300px;
    padding-left: 60px;
    padding-top: 60px;
} */

/*#upload-button2{
    position: relative;
    padding: 8px 15px;
    top:-12em;
    color: white;
    background-color: #644424;
    border-radius: 10px;
    cursor: pointer;
    border: solid #644424;
    height: 60px;
}*/


.lbq i{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 40px;
}


.upload-button{
    position: relative;
    top : 5rem;
    left: 10rem;
    color: black;
    text-decoration: none;
    color: white;
    padding: 7px 20px;
    background-color: #644424;
    border: 0px;
    border-radius: 10px;
}
.upload-button:hover{
    color: white;
    background-color: #644424;
}

.upload-box{
    position: relative;
    left: 3rem;
    color: black;
    background-color: white;
    border-radius: 20px;
    border: solid white;
    height: 400px;
    width: 300px;
    text-align: center;
    padding-top: 50%;
    cursor: pointer;
}

.plant-ul{
    position: relative;
    left: 5rem; 
}


.plant-ul li{
    font-size: 1.2rem;
    list-style-type: circle ;
}

@media screen and (max-width: 896px) { 
    .wrapper{
        height: 130vh;
        width: 100%;
        background-color: var(--background);
    }


    #plant-left{
        position: relative;
        top: 10px;
        width: 100%;
        justify-content: start;
        left: -3rem;
    }

    #plant-left p{
        width: 300px;
    }

    .plant-ul{
       left: 4rem;
    }

    .image-upload{
        height: 100vh;
    }

    .image-upload form{
        position: static;
        justify-content: flex-start;
        height: 28rem;
    }

    .upload-box{
        height: 350px;
    }

    .voice{
        position: fixed;
        left:75%;
        
    }

    .voice .inside-container{
        top: 65vh;
        float: none;
    }

    .voice .inside-container button{
        padding:10px 20px;
        border-radius: 50%;
    }

    .voice .inside-container button i{
        bottom: 0px;
    }
 }

