:root{
    --element: #035C41;
    --background: #FFF7EC;
    --forum-background:#A77D53;
    user-select: none;
}

.forum-container{
    height: 70vh;
    background-color: #DBD0BE;

}

.forum-fig{
    background-color:#DBD0BE ;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-end;

}

.forum-fig-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.forum-fig-left h1{
    position: relative;
    right: 3.9rem;
    bottom: 2rem;
    text-decoration: underline;
    line-height: -4rem;
    font-size: 3rem;
    
}

.forum-fig-left h2{
    position: relative;
    bottom: 1rem;
    line-height: -4rem;
    font-size: 2rem;
    left: 2rem;
    
}

.forum-fig-left p{
    position: relative;
    left: 60px;
    width: 400px;
    font-size: 1.5rem;
}


.forum-fig-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    top: 10px;
    
}
 
.forum-fig-right .forum-fig-sections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    align-self: center;
    
}
.rectangle {
    position: relative;
    top: 1rem;
    height: 170px;
    width: 600px;
    background-color: #644424;
    align-self: center;
    border-radius: 20px;
  }

  .tabs a{
    color: white;
  }

.tabs{
    text-align: center;
    font-size: 1.5rem;
    padding: 10px 20px 10px 20px;; 
    background-color: #A77D53;
    border-radius: 10px;
    color: white;
}
    
.services-container{
    height: 50vh;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    z-index: -1;
}

.services-container .services-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 100px;
}

.services-container hr,.forum-fig-left hr{
    width: 100%;
    height: 0;
    border: 0.1px solid #000000;
}

.services{
    padding: 20px 50px;
    background-color: #644424;
    border-radius: 10px;
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.services-container h1{
    font-size: 3rem;
}