<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krishi Unnati</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Css/Home.css' %}">
    <link rel="stylesheet" href="{% static 'Css/Header.css' %}">
    <link rel="stylesheet" href="{% static 'Css/Map.css' %}">
    <link rel="stylesheet" href="{% static 'Css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'Css/Plant.css' %}">
    <link rel="stylesheet" href="{% static 'Css/other.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'Css/chat.css' %}"> {% endcomment %}
</head>
<body>
    <nav class="main-nav">
        <div class="logo">
            <a href="/"><img src="{% static 'Images/Logo.png' %}" alt="logo" /></a>
        </div>

        <div class="menu-link">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="/imgupload">Plant Identification</a></li>
                <li><a href="#">Govt Scheme</a></li>
                <li><a href="#">Map data</a></li>
            </ul>
        </div>
        
{% comment %}       
        <div id="overlay" >
          <div id="overlaytext">
            <div class="login-container">
              <div class="logo">
                <img src="static/Images/logo.png" alt="logo" />
              </div>
              <div class="cross"><button onclick="off()"><i class="fa-solid fa-xmark"></i></button></div>
              <h4>Login</h4>
              <br>
              <form>
                <div class="row">
                  <div class="col-8" style="margin-left: 90px;">
                    <label class="form-label">Email</label>
                    <input name="email" type="text" class="form-control" >
                  </div>
                  <div class="col-8" style="margin-left: 90px;">
                    <label class="form-label">Password</label>
                    <input name="password" type="password" class="form-control" >
                  </div>
                  <div class="col-8" style="margin-left: 90px;">
                    <button type="submit">Login</button>
                  </div>
                  <div class="col-8" style="margin-left: 90px;">
                    <p>New User? <a href="signUp.html">Signup Here</a></p>
                  </div>
                </div>
                <div class="row" style="color: #035C41; margin:0px 60px 0px;">
                  <div class="col"><hr></div>
                  <div class="col col-md-auto" style="font-size:15px; padding-top:10px">or Login with</div>
                  <div class="col"><hr></div>
                </div>
                <div class="row">
                  <div class="col-6"><button style="width:150px ; margin-left: 80px;">google</button></div>
                  <div class="col-6"><button style="width:150px ; margin-left: 10px;">facebook</button></div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="login-signup">
            <ul>
                <li class="primary"><button onclick="on()">Login</button></li>
                <li class="secondary"><a href="signUp.html">Signup</a></li>
            </ul>
        </div>
    </nav> {% endcomment %}

        
        <div class="login-signup">
            <ul>
                <li class="primary"><a href="/login_user">Login</a></li>
                <li class="secondary"><a href="{% url 'register' %}">Signup</a></li>
            </ul>
        </div>
    </nav>

    <div class="main-home">
        <div class="text-container">
          <h1>Krishi Unnati</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore
            unde eum magnam commodi sequi explicabo libero temporibus nam vitae.
          </p>
          <div class="home-button">
            <div class="button1">
              <a href="#">button1</a>
            </div>
            <div class="button2">
              <a href="#">button2</a>
            </div>
          </div>
        </div>
        <div class="side-container">
        </div>
      </div>

       <!-- Plant Identification  -->
      <div class="main-container-plant">
        <div class="left-container">
          <div class="square-plant"></div>
        </div>
        <div class="right-container">
          <h2> Plant Identification</h2>
          <p>
            lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
            <div>
              <a href="/imgupload"  id="plant-button">Button1</a>
            </div>
        </div>
      </div>

      <!-- Map  -->
      <div class="map-main">
      <div class="main-container-map">
        <div class="map-text-container">
          <h1>Agricultural Map of India</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
            exercitationem, incidunt inventore error pariatur necessitatibu
          </p>
        </div>
        <div class="map-container">
            <img src="{% static 'Images/map.png' %}" alt="map" class="map-image"/>
        </div>
      </div>
    </div>

     <!-- Other Section  -->
      <!-- database figure  -->
      <div class="others">
          <div class="database-fig">
              <div class="database-fig-left">
                  <h1>Database Fig</h1>
                  <p>
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam odit
                      perferendis corporis? sada sdad asd asd asd a
                  </p>
              </div>
              <div class="database-fig-right">
                  <div class="others-square"></div>
              </div>
          </div>
         <!-- Weather/Crop Prediction  -->
          <div class="weather-fig">
              <div class="weather-fig-left">
                  <div class="others-square"></div>
              </div>
              <div class="weather-fig-right">
                  <h1>Weather/Crop Prediction</h1>
                  <p>
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam odit
                      perferendis corporis? sada sdad asd asd asd a
                  </p>
              </div>
          </div>

          <!-- Govt Schemes -->
          <div class="govt-fig">
              <div class="govt-fig-left">
                  <h1>Govt Scheme</h1>
                  <p>
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam odit
                      perferendis corporis? sada sdad asd asd asd a
                  </p>
              </div>
              <div class="govt-fig-right">
                  <div class="others-square"></div>
              </div>
          </div>
      </div>  

      <script src="{% static 'Js/home.js' %}">
      </script>
</body>
</html> 