{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<div class="container-fluid">
    {% if request.user.is_authenticated %}
        <p class="text-success">You are Logged In</p>
        <p class="text-success">email : {{ request.user.email }}</p>
    {% else %}
        <p class="text-danger">User is not logged in </p>
    {% endif %}

<form action="{% url 'login_user' %}" method="post" class="row g-3">
    {% csrf_token%}
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">email</label>

        <input name="email" type="" class="form-control" id="">
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">LOG IN</button>
    </div>
    <a href="{% provider_login_url 'google' method='oauth2' %}">Google</a>
</form>

<div class="form-group">
    {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
    {% endfor %}
</div>
</div>
{#<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>#}


</body>
</html>