<!DOCTYPE html>
{% load i18n %}
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>India Agriculture Map</title>
    {% load static %}
    <script src="{% static 'JS/MapData_JS.js' %}"></script>
    <script src="{% static 'JS/Map_JS.js' %}"></script>
    <style>
      body{
        margin: 0;
        background-color: #eeedec;
      }
      #map{
        /* border:2px solid black; */
        display:block;
        margin: 4vh auto;
        height: 150vh;
        overflow: hidden;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    
    </body>
</html>
      
    

