<!DOCTYPE html>
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'Css/Navbar.css' %}">
    <link rel="stylesheet" href="{% static 'Css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'Css/voice.css' %}">
    <link rel="stylesheet" href="{% static 'Css/translate.css' %}">
    <link rel="stylesheet" href="{% static 'Css/voice-overlay.css' %}">
    <title>{% trans "Profile" %}</title>
</head>
<body>
    <div class="voice">
        <div class="inside-container"> 
          <form method='POST' action='vr'>
            {% csrf_token %}
            <button type='submit' name='vr2' onclick="overlay_on()"><i class="fa-solid fa-microphone"></i></button>
          </form>
        </div>
      </div>
    <div class="translate-inner">
        <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
          <input name="next" type="hidden" value="{{ redirect_to }}">
          <select name="language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
              {{ language.name_local }} ({{ language.code }})
            </option>
            {% endfor %}
          </select>
          <input type="submit" value="{% trans 'Go' %}">
        </form> 
      </div>
    <div class="wrapper">
        <div class="section">
     <div class="top_navbar">
       <div class="hamburger">
         <a href="#">
           <i class="fas fa-bars"></i>
         </a>
       </div>
       <div>
         <a href="{% url 'index' %}">
          <img src="{% static 'Images/logo.png'%}" alt="" width="100px" height="50px" >
         </a>
       </div>
       <div>
         <img src="static/Images/Ellipse.png" alt="" width="50px" height="40px">
       </div>
     </div>
     <div>
       
     </div>
    </div>
         <div class="sidebar">
           <div class="container">
             <div class="sidebar">
                  <div class="background">
                       <div class="logo">
                            <img src="static/Images/logo.png" alt="logo">
                       </div>
                  </div>
                  <div class="menu">
                    <ul>
                         <li><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
                         <li><a href="/profile1">{% trans "Profile" %}</a></li>
                         <li><a href="/imgupload">{% trans "Plant ID" %}</a></li>
                         <li><a href="/weather">{% trans "Weather Prediction" %}</a></li>
                         <li><a href="#">{% trans "Government Schemes" %}</a></li>
                         <li><a href="/map">{% trans "Map" %}</a></li>
                         <li><a href="#">{% trans "Forum" %}</a></li>
                    </ul>
               </div>
               <div class="background1">
                    <ul>
                         <li><a href="#">{% trans "About Us" %}</a></li>
                         <li><a href="#">{% trans "Contact Us" %}</a></li>
                         <li><a href="#">{% trans "Logout" %}</a></li>
                    </ul>
               </div>
           </div>
       </div>
     </div>
     
    <div class="container-fluid">
        <div class="row">
            <div class="col-3"><a href="/profile1"><img src="{% static 'Images/leaf.png' %}" /> {% trans "Profile" %}</a></div>
            <div class="col-3"><a href="#"><img src="{% static 'Images/leaf.png' %}" /> {% trans "Farm Details" %}</a></div>
        </div><hr>
        
        <form>
            <div class="row">
                <div class="col-8">
                    <label class="form-label">{% trans "Owner Name" %}</label>
                    <input name="ownername" type="text" class="form-control" >
                </div>
                <div class="col-4">
                    <label class="form-label">{% trans "Land Area" %}</label>
                    <input name="landarea" type="number" class="form-control" >
                </div>
                <div class="col-12">
                    <label class="form-label">{% trans "Address" %}</label>
                    <input name="address" type="text" class="form-control" style="height: 200px;">
                </div>
                <div class="col-4">
                    <label class="form-label">{% trans "Income (Approx)" %}</label>
                    <input name="income" type="number" class="form-control" >
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label class="form-label">{% trans "Name of Crop" %}</label>
                    <input name="cropname" type="text" class="form-control" >
                </div>
                <div class="col-4">
                    <label class="form-label">{% trans "Grown From" %}</label>
                    <input name="growStart" type="date" class="form-control" >
                </div>
                <div class="col-4">
                    <label class="form-label">{% trans "Grown Until" %}</label>
                    <input name="growUntil" type="date" class="form-control" >
                </div>
            </div>
        </form>
        
        
    </div>
    <script src="https://kit.fontawesome.com/0e7ccbd866.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/Sidebar.js'%}"></script>
</body>
</html>