<html>
    <head>
        Upload herer
    </head>
    <body>
        <p class="testimonials-description">
                     
            <h3>Enter City Name</h3>
            
              <form action="/wheather" method="POST" >
                  {% csrf_token %}
                  
                    
                  </i></label>
                  <input id='text' type="text" name="city" />
                  
                 <br/>
                  
                  <input type="submit" value="submit" class="btn btn-default btn-main" /> 
              
              </form>
              Wheather {{main}}

              
          </p>

        
    </body>
    
</html>