{% load i18n %}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'Css/weather.css' %}">
    <title>{% trans "Weather" %}</title>
    <link rel="stylesheet" href="{% static 'Css/voice-overlay.css' %}">
</head>
<body>


    {% comment %} City name : {{ location }} <br>   


    {% for s,a,n,sk in zipped %}
        {% if s.8 == responsedate.0.8 and s.9 == responsedate.0.9 %}
     
        <b>Date </b> {{ s }}
        <b>Desc </b> {{ a }}
        <b>temp </b> {{n}} 
        <b>humidty </b> {{sk }}
        <br>
        {% else %}
            {% if s.11 == "1" and s.12 == "2" %}
 
            <b>Date </b> {{ s }}
            <b>Desc </b> {{ a }}
            <b>temp </b> {{n}} 
            <b>humidty </b> {{sk }}
            <br>
            {% endif %}

        {% endif %}

    {% endfor %} {% endcomment %}
    <div class="translate-inner">
        <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
          <input name="next" type="hidden" value="{{ redirect_to }}">
          <select name="language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
              {{ language.name_local }} ({{ language.code }})
            </option>
            {% endfor %}
          </select>
          <input type="submit" value="{% trans 'Go' %}">
        </form> 
      </div>
    <h2>{% trans "Weather Forecast" %}</h2>
    <div class="weather-container">
        
        <div class="row" style="border-bottom: 0.2rem solid #035C41;">
            <div class="col-lg-4 col-md-6 col-sm-6" style="border-right: 0.2rem solid #035C41; margin-bottom: 2%;">
                <img src="static\Images\partly_cloudy 3.png">
                <div class="temp" style="font-weight: 700;float:right; position:relative; top:50px;">
                    <p style="font-size:2rem;">{{responsetemp.0}}  &#8451</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6" style="position:relative; top:30px;">
                <ul style="list-style: none;">
                    <li><p>{{ responsedescription.0 }}</p></li>
                    <li>{% trans "Humidity: " %}{{ responsehumidity.0 }}</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <a href="">{% trans "Change City" %}</a><br>
                <h4>{{location}}</h4>
                <p style="text-align:right; font-weight: 600;">Day</p>
            </div>
        </div>
        <div class="row">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner" style="font-weight:700; font-size: small;">
                    
                    <div class="carousel-item active">
                    {% for s,a,n,sk in zipped %}
                        
                        <div class="wrapper" style="position: relative; display: flex; flex-direction:row; justify-content: space-around;">
                            {% if s.8 == responsedate.0.8 and s.9 == responsedate.0.9 %}
                            <div class="col-lg-1 col-md-1 col-sm-2">
                                <p>{{ s }}</p>
                                <p>{{ n }} &#8451</p>
                                <img src="static\Images\partly_cloudy 3.png">
                            </div>
                        </div>    
                    </div>
            </div>
        </div>
    </div>
    </div>
        {% else %}
        <div class="row weather-sections" style="font-weight:700; font-size: small;">
            {% if s.11 == "1" and s.12 == "2" %}
            <div class="col blocks" style=" ">
                    <p>{{s}}<br>
                        {{n}} &#8451</p>
                    <img src="static\Images\partly_cloudy 3.png">
                </div>
            </div>
            {% endif %}
        </div>    
        {% endif %}
    {% endfor %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

</body>
</html>
